<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script>
      function goBack() {
          window.history.back()
      }
    </script>
    <script src = "js/list.js"></script>
  </head>
  <body>
    <div class="container" ng-app="myApp">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>{{ title }}</h1>
          </div>
        </div>
        
        <!-- THIS IS WHERE THE SCRIPTS BELOW REPLACE WHEN THEY ARE RENDERED -->
        <div ui-view></div>
        

        <div class="col-md-12">
          <div class="page-footer">
            <h7>&reg; 2017 Reath Jared inc.</h7>
          </div>
        </div>
      </div>

      <script type="text/ng-template" id="login.html">
        <div class="col-md-12">
          <h3>Login Page</h3>
          
          <form ng-submit="formSubmit()" class="form">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
              </div> 

              <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success">Login</button>
                <span class="text-danger">{{ error }}</span>
              </div>

            </div>
          </form>
        </div>
      </script>

      <script type="text/ng-template" id="profile.html">
        <div class="col-md-12">
          <h3>Profile</h3>
        
          <input type="button" value="Post" ng-click="posts()">
          <input type="button" value="logout" ng-click="logout()">
        </div>
      </script>

      <script type="text/ng-template" id="posts.html">
        <div class="col-md-12">
          <h3>POSTS</h3>

          <input type="button" value="Recent" ng-click="getRecent()">
          <input type="button" value="Random" ng-click="getRandom()">
          <input type="button" value="Popular" ng-click="getPopular()">
          <input type="button" value="Starred" ng-click="getStarred()">
          <input type="button" value="Create Post" ng-click="createPost()">
          <input type="button" value="Back" onclick="goBack()">
        </div>
        <div class="col-md-12">
          <table class='table table-striped' style="width:100%">
            <thead>
              <th class="col-md-3"></th>
              <th class="col-md-3"></th>
              <th class="col-md-3"></th>
              <th class="col-md-3"></th>
            </thead>
            <tbody>
              <tr ng-repeat="chunk in chunkedData">
                <td ng-repeat="post in chunk" class="col-md-3 meme-holder">
                  <div  class="img-holder">
                    <img ng-src="images/{{post.uri}}">
                  </div>
                  <a style="color: #c50e0e" ng-click="goToPost(post)">[view]</a>
                  <div>
                    <p>{{post.title}}</p>
                    <p>{{post.description}}</p>
                    <p>{{post.profile_id}}</p>
                  </div>
                </td>
              </tr>
          </tbody>
          </table>
        </div>
      </script>

      <script type="text/ng-template" id="viewPost.html">
        <div class="col-md-12">
          <h3>POST</h3>

          <input type="button" value="Back" onclick="goBack()">
        </div>
        <div class="col-md-12 meme-holder">
          <div  class="img-holder">
            <img ng-src="images/{{post.uri}}">
          </div>
          <div>
            <p>{{post.title}}</p>
            <p>{{post.description}}</p>
            <p>{{post.profile_id}}</p>
          </div>
        </div>
        </div>
      </script>

      <script type="text/ng-template" id="new-post.html">
        <div class="col-md-12">
          <h3>Post an Image</h3>
          <input type="button" value="Back" onclick="goBack()">
    

          <form ng-submit="formSubmit()" class="form">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="title" placeholder="title" required=""/>
              </div> 

              <div class="col-md-6">
                  <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" ng-model="description" placeholder="description" required=""/>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" ng-model="tags" placeholder="tags" required=""/>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success">Post</button>
                <span class="text-danger">{{ error }}</span>
              </div>

            </div>
          </form>
        </div>
      </script>
    </div>
  </body>
</html>